@model TMS.NET06.Parfume.Manager.MVC.Models.ProductDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product-details";
}


    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            @foreach (var nodeUrl in Model.ParentsNodeUrls)
                            {
                                <li class="breadcrumb-item"><a href="#">@nodeUrl</a></li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(@Model.ImageCarousel[0]);">
                                </li>
                                @for (int i = 1; i < Model.ImageCarousel.Count; i++)
                                {
                                <li data-target="#product_details_slider" data-slide-to="@i" style="background-image: url(@Model.ImageCarousel[i]);">
                                </li>
                                }
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="@Model.ImageUrls[0]">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrls[0])" alt="First slide">
                                    </a>
                                </div>
                                @for (int i = 1; i < Model.ImageUrls.Count; i++)
                                {
                                 <div class="carousel-item">

                                    <a class="gallery_img" href="@Model.ImageUrls[i]">
                                    <img class="d-block w-100" src="@Url.Content(Model.ImageUrls[i])" alt="@i slide">
                                    </a>
                                        
                                 </div>
                                }
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">$@Model.Price.ToString()</p>
                            <a href="@Model.PageUrl">
                                <h6>@Model.Name</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                 @for (int i = 0; i < Model.Rating-1; i++)
                                  {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                  }
                                </div>
                                <div class="review">
                                    <a href="#">Write A Review</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>@Model.Overview</p>
                        </div>

                        <!-- Add to Cart Form -->
                        <!--<form class="cart clearfix" method="post">
                            <div class="cart-btn d-flex mb-50">
                                <p>Qty</p>
                                <div class="quantity">
                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                        </form>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->
