@model TMS.NET06.Parfume.Manager.MVC.Models.ShopViewModel
@using TMS.NET06.Parfume.Manager.MVC.App_Code
@using TMS.NET06.Parfume.Manager.MVC.Data.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Shop";
}

@*<form id="myForm" method="get" action="@Url.Action()">*@
    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Categories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul>
                    <li class="@(Model.SelectedGender==null ? "active":"")"><a href="@MyHelper.GenderUrl(Html, null)">Men&Women</a></li>
                    <li class="@(Model.SelectedGender==Gender.men ? "active":"")"><a href="@MyHelper.GenderUrl(Html, Gender.men)">Men</a></li>
                    <li class="@(Model.SelectedGender==Gender.women ? "active":"")"><a href="@MyHelper.GenderUrl(Html, Gender.women)">Women</a></li>
                </ul>

                <input type="hidden" name="gender" id="gender" value="@Model.SelectedGender">
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <div class="widget brands mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Brands</h6>

            <div class="widget-desc">
                <!--  <select id="mySelect" onchange="myFunction()">-->
                <!-- Single Form Check -->
                @foreach (var brand in Model.Brands)
                {
                    <div class="form-check">

                        <input name="brand" class="form-check-input" type="checkbox" @(brand.IsChecked ? "checked" : "") value="@brand.Id" id="@brand.Name.ToLower()" onchange="submitForm();">
                        <label class="form-check-label" for="@brand.Name.ToLower()">@brand.Name</label>

                    </div>
                }
                <!--  </select>-->
            </div>
        </div>

        <!-- ##### Single Widget ##### -->
        <!--<div class="widget color mb-50">-->
            <!-- Widget Title -->
            <!--<h6 class="widget-title mb-30">Color</h6>

            <div class="widget-desc">
                <ul class="d-flex">
                    <li><a href="#" class="color1"></a></li>
                    <li><a href="#" class="color2"></a></li>
                    <li><a href="#" class="color3"></a></li>
                    <li><a href="#" class="color4"></a></li>
                    <li><a href="#" class="color5"></a></li>
                    <li><a href="#" class="color6"></a></li>
                    <li><a href="#" class="color7"></a></li>
                    <li><a href="#" class="color8"></a></li>
                </ul>
            </div>
        </div>-->

        <!-- ##### Single Widget ##### -->
        <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Price</h6>

            <div class="widget-desc">
                <div class="slider-range">
                    <div name="sliderprice" id="sliderprice" data-min="10" data-max="200" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="200" data-label-result="">
                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    </div>
                    <div class="range-price" id="rangeprice">$10 - $200</div>
                </div>
            </div>
        </div>
 
        <input type="hidden" name="pricemin" id="pricemin" value="@Model.PriceMin">
        <input type="hidden" name="pricemax" id="pricemax" value="@Model.PriceMax">

    </div>

@*</form>*@
<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        <p>Showing 1-@Model.SelectedQuantityOnPage of @Model.TotalProductsCount</p>
                        <div class="view d-flex">
                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by<div>     </div></p>
                            <form action="#" method="get">
                                <select name="selectedsort" onchange="submitForm();">
                                    @foreach (var s in Model.SortValues)
                                    {
                                        @if (s.Key == Model.SelectedSort)
                                        {
                                            <option value="@s.Key" selected>@s.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@s.Key">@s.Value</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                        <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            @*<form action="@Url.Action()" method="get">*@
                            <select name="selectedquantity" onchange="submitForm();">
                                    @foreach (var q in Model.QuantityOnPage)
                                    {
                                        @if (q == Model.SelectedQuantityOnPage)
                                        {
                                            <option value="@q" selected>@q</option>
                                           }
                                        else
                                        {
                                            <option value="@q">@q</option>
                                        }
                                    }
                                </select>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var product in Model.Products)
            {
                <!-- Single Product Area -->
                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="@Url.Content(product.ImageUrl)" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="@Url.Content(product.HoverImageUrl)" alt="">
                        </div>

                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">$@product.Price.ToString()</p>
                                @*<a href="@product.ProductDetailsUrl">*@
                                <a href="@Url.Action("ProductDetails", "Home", new {id = product.ProductId})">
                                    <h6>@product.Name</h6>
                                </a>
                            </div>
                            <!-- Ratings & Cart -->
                            <div class="ratings-cart text-right">
                                <div class="ratings">
                                    @for (int i = 0; i < product.Rating - 1; i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }
                                </div>
                                <div class="cart">
                                    <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">

                        @for (int i = 1; i <= Model.QuantityOfPages; i++)
                        {
                            @if (i == Model.SelectedPage)
                            {
                                <li class="page-item active"><a href="@MyHelper.PageUrl(Html, i)" class="page-link">@String.Format("{0:d2}", i).</a></li>

                            }
                            else
                            {
                                <li class="page-item"><a href="@MyHelper.PageUrl(Html, i)" class="page-link">@String.Format("{0:d2}", i).</a></li>
                            }

                            @*<li class="page-item" + @(Model.SelectedPage==i ? " active":"")><a href="@MyHelper.PageUrl(Html, i)" class="page-link">@String.Format("{0:d2}", i).</a></li>*@
                        }

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
@*</form>*@

<script>
    function submitForm() {
        document.getElementById("myForm").submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        let elmin = document.getElementById("pricemin");
        let elmax = document.getElementById("pricemax");

        minvalue = Number(elmin.value);
        maxvalue = Number(elmax.value);
        if (maxvalue == 0) maxvalue = 200;
        $("#sliderprice").slider("values", [minvalue, maxvalue]);
        
        //$("#sliderprice").find('.range-price').html(result);
        if (elmin.value != "" && elmax.value != "") {
            var result = "$" + elmin.value + ' - ' + "$" + elmax.value;
            let ellabel = document.getElementById("rangeprice");
            ellabel.innerHTML = result;
        }
    });
</script>